// Couleurs
$greendark: #019961;
$green: #3DAD5C;
$greenlight: #79C258;
$lightergreen: #B5D653;
$black: #030303;
$white: #ffffff;

// Familles de polices
$font-roboto: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;