.button {
    width: 15%;
    padding: 12px;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(150deg, #B5D653, #3DAD5C 50%);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.1s ease-out;
}

.button:hover {
    background: $greendark;
}

.form-button {
    width: 15%;
    padding: 12px;
    font-size: 18px;
    color: #ffffff;
    background: linear-gradient(150deg, #B5D653, #3DAD5C 50%);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.1s ease-out;
}

.form-button:hover {
    background: $greendark;
}