.button {
    width: auto;
    padding: 14px;
    font-size: 18px;
    color: $white;
    background: linear-gradient(150deg, #B5D653, #3DAD5C 50%);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: $font-montserrat;
    font-weight: 500;
    transition: background 0.3s ease-in-out, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0px 6px 12px 1px rgba(61, 173, 92, 0.6);
}

.button:hover {
    background: $greendark; // Variable utilisée pour garder la consistance
    box-shadow: 0px 8px 16px 1px rgba(61, 173, 92, 0.8);
}

.button:active {
    transform: scale(0.97);
    box-shadow: 0px 4px 8px 1px rgba(61, 173, 92, 0.5);
}

.form-button {
    @extend .button; // Hérite des styles génériques
    background: linear-gradient(150deg, $lightergreen, $green 50%);
    transition: background 0.3s ease-in-out, transform 1.5s ease, box-shadow 0.2s ease;

    &:hover {
        background: linear-gradient(150deg, $green, $greendark 50%);
    }
}

.form-button:active {
    transform: scale(0.97);
    box-shadow: 0px 4px 8px 1px rgba(61, 173, 92, 0.5);

}

.outlined-button {
    padding: 12px;
    font-size: 18px;
    color: $green;
    background: transparent;
    border: 2px solid $green;
    border-radius: 24px;
    cursor: pointer;
    font-family: $font-montserrat;
    font-weight: 500;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, transform 0.2s ease;

    &:hover {
        background: linear-gradient(150deg, $green, $greendark 50%);
        color: $white;
        box-shadow: 0px 4px 8px 1px rgba(61, 173, 92, 0.5);
    }

    &:active {
        transform: scale(0.97);
        box-shadow: 0px 4px 8px 1px rgba(61, 173, 92, 0.5);
    }
}

@media screen and (max-width: 360px) {
    .form-button {
        width: 100%;
    }

    .form-button:active {
        transform: scale(0.97);
        box-shadow: 0px 4px 8px 1px rgba(61, 173, 92, 0.5);

    }
}