html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        font-family: $font-montserrat;
        font-weight: 500;
        font-style: inherit;
        color: $black;
    }

    p {
        font-family: $font-roboto;
        font-weight: 400;
        font-style: large;
    }
}

// Responsive pour les écrans de 360px
@media screen and (max-width: 762px) {
    body {
        overflow-y: auto;
    }
}