body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    h1 {
        font-family: $font-montserrat;
        font-weight: 500;
        font-style: inherit;
        color: $black;
    }

    p {
        font-family: $font-roboto;
        font-weight: 400;
        font-style: large;
    }
}