.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: large;
}

.montserrat-semi-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: inherit;
}