.about {
    padding: 2rem 0;

    &__intro {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__image img {
        max-width: 100%;
        height: auto;
    }

    &__title {
        color: $black;
        font-size: 2rem;
    }

    &__description {
        color: $black;
        line-height: 1.5;
        margin-top: 1rem;
    }

    .about__image {
        position: relative;
        display: inline-block;

        &--background {
            width: 100%;
            height: auto;
        }

        &--overlay {
            position: absolute;
            top: 0; // Ajustez la position selon vos besoins
            left: 0; // Ajustez la position selon vos besoins
            width: 50%; // Ajustez la taille selon vos besoins
            height: auto;
            opacity: 0.7; // Réglage de la transparence pour l’effet de superposition
        }
    }
}