.section-apropos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: -150px auto 0; /* Pour remonter la section au-dessus de l'arrière-plan */

    /* Styles pour le conteneur des images à gauche */
    .background-apropos {
        position: relative;
        flex: 1; /* Occupe 50% de l'espace */
        display: flex;
        justify-content: center;
        align-items: center;

        .img1app {
            width: 300px;
            position: relative;
            z-index: 1;
        }

        .img2app {
            position: absolute;
            width: 400px;
            top: 0;
            z-index: 0;
            opacity: 0.5;
        }
    }

    /* Styles pour la section de texte à droite */
    .apropos-projet {
        flex: 1; /* Occupe 50% de l'espace */
        padding-left: 2rem; /* Ajoute de l'espace entre le texte et les images */

        h1 {
            font-family: $font-montserrat;
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 1rem;
            color: $greendark;
        }

        .text2-apropos {
            font-size: 1rem;
            line-height: 1.6;
            color: $black;
        }
    }
}
