.about {
    padding: 15rem 0;
    position: relative;
    min-width: 100%;
    width: 100%;

    // Styles pour les pages multiples
    &__page {
        display: none; // Par défaut, les pages sont masquées

        &.active {
            display: block; // Affiche uniquement la page active
        }
    }

    // Boutons de navigation
    &__next,
    &__back,
    &__prev {
        position: absolute;

        transform: translateY(-50%);
        background-color: white;
        color: $greenlight;
        border: none;
        padding: 10px 20px;
        border-radius: 303%;
        cursor: pointer;
        font-size: 31px;
        left: 118%;


    }

    &__back {
        top: 90%;
        left: 4%;
    }

    &__next {
        right: 5%;
        top: 376%;
    }

    &__prev {
        left: 5%;
    }

    // Animation
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    // Autres styles (inchangés)
    &__intro {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        padding-left: 2rem;
    }

    &__image {
        position: relative;
        display: inline-block;
        z-index: 2;
        top: 115px;
        width: 30%;
        left: 8%;

        img {
            height: auto;
        }

        &--pc {
            width: 85%;
        }

        &--overlay {
            position: absolute;
            top: -73%;
            left: -7%;
            width: 96%;
        }
    }

    &__content {
        padding: 2rem;
        width: 30%;
        font-style: inherit;
        text-align: left;
        position: absolute;
        left: 50%;
        top: -17%;
    }

    .about__text {
        font-size: 17px;
        line-height: 2;
        font-family: $font-montserrat;
        top: 150%;
        position: absolute;
    }

    .about__separator {
        border: none;
        height: 3px;
        width: 314px;
        background-color: #4CAF50;
        margin: 20px 0;
        position: absolute;
        top: 401%;
        left: 30%;
        transform: translateX(-50%);
    }

    .about__description {
        color: #030303;
        line-height: 1.5;
        margin-top: 1rem;
        font-family: $font-montserrat;
        position: absolute;
        top: 438%;
        font-size: 20px;
        font-weight: 500;

    }

    .about__description2 {
        display: none;
        color: #030303;
        line-height: 1.5;
        margin-top: 1rem;
        font-family: $font-montserrat;
        position: absolute;
        top: 438%;
        font-size: 20px;
        font-weight: 500;
    }


    .circle-about-img1 {
        position: absolute;
        width: 3%;
        height: 30%;
        background-color: #79C258;
        border-radius: 78%;
        margin: 10px;
        top: -14%;
        right: 96%;
        z-index: 4;
    }

    .about__title {
        position: absolute;
        color: $black;
        font-size: 38px;
        font-weight: 600;
        top: -63%;
    }


    .backgroud-about {
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background: linear-gradient(135deg, #7ed957, #3cb371);
        border-radius: 0 190px 190px 0;
        z-index: 1;
    }

    .slide__intro {

        &__image {
            position: relative;
            display: inline-block;
            z-index: 2;
            top: 115px;
            width: 30%;
            left: 8%;
        }

        img {
            width: 71%;
            left: 44%;
            position: absolute;
            top: 1%;
            z-index: 1;

        }
    }

    &--overlay {
        position: absolute;
        top: -73%;
        left: -7%;
        width: 96%;
    }

    &__content {
        padding: 2rem;
        width: 30%;
        font-style: inherit;
        text-align: left;
        position: absolute;
        left: 50%;
        top: -17%;
    }

    &--overlay {
        position: absolute;
        top: -73%;
        left: -7%;
        width: 96%;
    }

    &__content {
        padding: 2rem;
        width: 30%;
        font-style: inherit;
        text-align: left;
        position: absolute;
        left: 50%;
        top: -17%;
    }
}

.slide__title {
    position: absolute;
    color: #030303;
    font-size: 40px;
    font-weight: 600;
    top: 24%;
    left: 21%;
}

.circle-about-img2 {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #79C258;
    border-radius: 78%;
    margin: 10px;
    top: 31%;
    left: 18%;
}

.slide__text {
    font-size: 19px;
    line-height: 2;
    font-family: "Montserrat", sans-serif;
    top: -120%;
    position: absolute;
    padding: -271px;
    margin: 877px;
    left: -28%;

}

.slide__separator {
    border: none;
    height: 3px;
    width: 314px;
    background-color: #4CAF50;
    margin: 20px 0;
    position: absolute;
    top: 401%;
    left: 30%;
    transform: translateX(-50%);
    display: none;
}




@media screen and (max-width:762px) {
    .about {
        width: 90%;

        .about__title {
            font-size: 30px;
            top: -368%;
            left: -87%;
        }

        .about__text {
            font-size: 13px;
            line-height: 2;
            font-family: "Montserrat", sans-serif;
            top: 104%;
            position: absolute;
            margin-left: -1%;
            left: -93%;
        }

        .about__separator {
            height: 2px;
            width: 126px;
            top: 366%;
            left: -57%;
        }

        .about__description {
            display: none;
        }

        .about__description2 {
            color: #030303;
            line-height: 1.5;
            margin-top: 1rem;
            font-family: "Montserrat", sans-serif;
            position: absolute;
            top: 421%;
            font-size: 13px;
            font-weight: 400;
            left: -91%;
            display: flex;
        }



        .backgroud-about {
            top: -110%;
            width: 66%;
            height: 114%;

        }




        .about__image--overlay {
            position: absolute;
            top: -70%;
            left: -55%;
            width: 228%;



        }

        .about__image--pc {
            width: 192%;
            top: -172%;
            position: relative;
            left: -42%;
        }

        .about__image {
            top: -79px;
        }

        .circle-about-img1 {
            display: none;
        }

        .about__next {

            font-size: 12px;
            left: 23%;
            right: -34%;
            top: -51%;
        }
    }


}

@media screen and (max-width:762px) {
    .slide__intro {
        .slide__title {
            position: absolute;
            color: #030303;
            font-size: 27px;
            font-weight: 600;
            top: -1%;
            left: 6%;
        }

        .slide__image {
            width: 92%;
            left: -8%;
            position: absolute;
            top: 20%;
            z-index: 1;
        }

        .about__back {


            font-size: 12px;
            top: 41%;
            left: -2%;
        }

        .circle-about-img2 {
            display: none;
        }

        .slide__text {
            font-size: 13px;
            line-height: 1.5;
            top: 64%;
            margin: 10px;
            left: 6%;
            font-weight: 400;
        }

        .slide__separator {
            border: none;
            height: 2px;
            width: 132px;
            background-color: #4CAF50;
            margin: 20px 0;
            position: absolute;
            top: 94%;
            left: 26%;
            transform: translateX(-50%);
            display: flex;

        }
    }
}