.title-clc {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 50px;
    padding-top: 50px;

    h1 {
        display: flex;
        align-items: start;
        text-align: start;
        font-size: 45px;
        font-weight: 600;
        line-height: 0rem;
        margin-bottom: 25px;
    }

    .clc-emission3 {
        display: none;
    }
}

/* Container principal pour centrer le formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px 100px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    background-color: $white;
    width: 850px;
    gap: 5px;
    margin-bottom: 4rem;
    font-family: $font-montserrat;
    min-height: 100px; // Ajustez la hauteur selon votre mise en page pour un positionnement optimal

    .button-container {
        display: flex;
        justify-content: center;
        padding-bottom: 1.5rem;
    }

    .form-footer {
        display: flex;
        text-align: center;
    }

    &--label {
        font-weight: 500;
        font-size: 20px;
        display: block;
        text-align: left;
        margin-top: 15px;
        color: #333;
    }
}

.form-content input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 2.5rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #333;

    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome */
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Opéra*/
    &::-o-inner-spin-button {
        -o-appearance: none;
        margin: 0;
    }

    .form-content input[type="number"]::placeholder {
        color: #aaa;
        font-style: italic;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: auto; // Pousse le bouton vers le bas
    }

    .form-footer {
        font-size: 15px;
        color: #333;
        margin-top: 20px;
        line-height: 1.4;
        font-style: italic;
        text-align: center;
    }
}


/* Overlay pour l'arrière-plan semi-transparent */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
    /* Masqué par défaut */
}

/* Pop-up de résultat superposée et centrée */
.resultat-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42%;
    max-width: 500px;
    padding: 20px;
    background-color: $white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    z-index: 1000;
}

.highlight-green {
    color: #3DAD5C;
    font-weight: bold;
}

/* Image */
.circle-calc-img1,
.circle-calc-img2,
.circle-calc-img3 {
    position: absolute;
    border-radius: 50%;
    background-color: $white;
    z-index: 3;
}

.circle-calc-img1 {
    width: 130px;
    height: 130px;
    top: 21%;
    right: 18%;
    border: 25px solid #019961;
}

.circle-calc-img2 {
    width: 70px;
    height: 70px;
    top: 15%;
    right: 11%;
    border: 20px solid #79c258;
}

.circle-calc-img3 {
    width: 40px;
    height: 40px;
    top: 29%;
    right: 11.5%;
    border: 20px solid $lightergreen;
}

.side-image-calc-left-top,
.side-image-calc-left-bot,
.side-image-calc-right {
    position: absolute;
    z-index: -1;
}

.side-image-calc-left-top {
    top: 16%;
    left: 11%;
    width: 360px;
}

.side-image-calc-left-bot {
    top: 47%;
    left: 10.5%;
    width: 290px;
    transform: rotate(-15deg);
}

.side-image-calc-right {
    top: 42%;
    right: 10%;
    width: 340px;
    transform: rotate(20deg);
}

@media screen and (max-width: 360px) {
    .title-clc {
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 0;

        h1 {

            font-size: 20px;
        }

        .clc-emission1,
        .clc-emission2 {
            display: none;
            /* Masquer sur mobile */
        }

        .clc-emission3 {
            display: block;
            font-size: 32px;
            line-height: 1.9rem;
            margin-right: 5rem;
            padding-left: 1.5rem;
            padding-top: 4rem;
        }
    }

    .form-container {
        padding: 0 10px;
        height: 80%;

        .form-content {
            padding: 20px;
            width: 80%;
            gap: 15px;

            .form-footer {
                font-size: 12px;
                color: #333;
                margin-top: 20px;
                line-height: 1.2;
                font-style: italic;
                text-align: center;
            }
        }

        .form-content label {
            font-size: 16px;
        }

        .form-content input[type="number"] {
            font-size: 14px;
            padding: 8px;
        }

        .button-container {
            margin-top: 20px;
            width: 100%;
        }

    }

    .resultat-popup {
        width: 50%;
        font-size: 1em;
        padding: 15px;
    }

    /* Surlignage */
    .highlight-green {
        font-size: 16px;
    }

    .circle-calc-img1,
    .circle-calc-img2,
    .circle-calc-img3 {
        display: none;
    }

    .side-image-calc-left-top,
    .side-image-calc-left-bot,
    .side-image-calc-right {
        display: none;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .title-clc {
        font-size: 20px;
        padding-top: 4rem;
        padding-bottom: 20px;
        top: 10%;

        .clc-emission1,
        .clc-emission2 {
            display: none;
            /* Masquer sur mobile */
        }

        .clc-emission3 {
            display: block;
            font-size: 45px;
            line-height: 1.2rem;
        }
    }

    .form-container {
        padding: 0 10px;
        height: 90%;

        .form-content {
            padding: 20px;
            width: 80%;
            gap: 15px;

            .form-footer {
                font-size: 12px;
                color: #333;
                margin-top: 20px;
                line-height: 1.2;
                font-style: italic;
                text-align: center;
            }
        }

        .form-content label {
            font-size: 16px;
        }

        .form-content input[type="number"] {
            font-size: 14px;
            padding: 8px;
        }

        .button-container {
            margin-top: 20px;
            width: 100%;
        }

    }

    .resultat-popup {
        width: 50%;
        font-size: 1em;
        padding: 15px;
    }

    /* Surlignage */
    .highlight-green {
        font-size: 16px;
    }

    .circle-calc-img1,
    .circle-calc-img2,
    .circle-calc-img3 {
        display: none;
    }

    .side-image-calc-left-top,
    .side-image-calc-left-bot,
    .side-image-calc-right {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1366px) {
    .title-clc {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 10px;

        h1 {
            font-size: 40px;
        }

        .clc-emission1,
        .clc-emission2 {
            display: block;
            /* Masquer sur mobile */
        }

        .clc-emission3 {
            display: none;
            /* Afficher uniquement sur mobile */
            font-size: 28px;
            line-height: 1.2rem;
        }
    }

    .form-container {
        padding: 0 10px;

        .form-content {
            padding: 1rem 7rem;
            width: 50%;
            gap: 7px;
            height: 26rem;
            margin-bottom: 0rem;

            .form-footer {
                font-size: 12px;
                color: #333;
                margin-top: 20px;
                line-height: 1.2;
                font-style: italic;
                text-align: center;
            }
        }

        .form-content label {
            font-size: 16px;
        }

        .form-content input[type="number"] {
            font-size: 14px;
            padding: 8px;
        }

        .button-container {
            margin-top: 20px;
            width: 100%;
            /* Ajuster l'espacement pour les petits écrans */
        }

    }

    .resultat-popup {
        width: 50%;
        /* Adapter la largeur pour les mobiles */
        font-size: 1em;
        padding: 15px;
    }

    .highlight-green {
        font-size: 16px;
        /* Ajuster la taille de la police */
    }

    .circle-calc-img1,
    .circle-calc-img2,
    .circle-calc-img3 {
        position: absolute;
        border-radius: 50%;
        background-color: $white;
        z-index: 3;
    }

    .circle-calc-img1 {
        width: 100px;
        height: 100px;
        top: 23%;
        right: 14%;
        border: 20px solid #019961;
    }

    .circle-calc-img2 {
        width: 50px;
        height: 50px;
        top: 21%;
        right: 8%;
        border: 14px solid #79c258;
    }

    .circle-calc-img3 {
        width: 30px;
        height: 30px;
        top: 33.5%;
        right: 8.5%;
        border: 14px solid $lightergreen;
    }

    .side-image-calc-left-top,
    .side-image-calc-left-bot,
    .side-image-calc-right {
        position: absolute;
        z-index: -1;
    }

    .side-image-calc-left-top {
        top: 20%;
        left: 5%;
        width: 260px;
    }

    .side-image-calc-left-bot {
        top: 51%;
        left: 5%;
        width: 215px;
    }

    .side-image-calc-right {
        top: 42%;
        right: 3%;
        width: 330px;
        transform: rotate(20deg);
    }
}