.title-clc {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 50px;

    h1 {
        margin: 0;
    }
}

/* Container principal pour centrer le formulaire */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.form-content {
    background-color: $white;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
    font-family: $font-roboto;
}

.form-content label {
    font-weight: 500;
    display: block;
    text-align: left;
    margin-top: 15px;
    color: #333;
}

.form-content input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.form-content input[type="number"]::placeholder {
    color: #aaa;
    font-style: italic;
}

.form-button {
    width: 35%;
    padding: 12px;
    font-size: 18px;
    color: $white;
    background: linear-gradient(150deg, $lightergreen, $green 50%);
    border: none;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.9s ease;
}

.form-button:hover {
    background: $greendark;
}

.form-footer {
    font-size: 12px;
    color: #777;
    margin-top: 20px;
    line-height: 1.4;
    font-style: italic;
}

/* Overlay pour l'arrière-plan semi-transparent */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    /* Masqué par défaut */
}

/* Pop-up de résultat superposée et centrée */
.resultat-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 1.2em;
    color: #333;
    text-align: center;
    z-index: 1000;
}