.main-contact {

    .title-contact {
        text-align: center;
        padding-top: 7%;
        font-size: 45px;
        font-weight: 600;
    }


    .form-wrapper {
        display: flex;
        margin-left: auto;


        .side-image-left-top {
            position: absolute;
            top: 23%;
            width: 310px;
            height: auto;
            left: 22.5rem;
            z-index: 1;
        }

        .side-image-left-bot {
            position: absolute;
            top: 52%;
            left: 21.8rem;
            z-index: 1;
            width: 240px;
            transform: rotate(-13deg);
        }

        .side-image-right {
            position: absolute;
            top: 45%;
            width: 320px;
            height: auto;
            right: 21.5rem;
            z-index: 1;
            transform: rotate(13deg);
        }

        .circle-img1,
        .circle-img2,
        .circle-img3 {
            position: absolute;
            background-color: white;
            border-radius: 50%;
            z-index: 4;
        }

        .circle-img1 {
            width: 100px;
            height: 100px;
            top: 25%;
            right: 24%;
            border: 25px solid $greendark;
        }

        .circle-img2 {
            width: 55px;
            height: 55px;
            top: 21%;
            right: 18%;
            border: 25px solid $greenlight;
        }

        .circle-img3 {
            width: 35px;
            height: 35px;
            top: 34%;
            right: 18.3%;
            border: 25px solid $lightergreen;
        }
    }

    .contact-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 1px 4px 50px rgba(0, 0, 0, 0.1);
        background-color: $white;
        z-index: 3;
        width: 760px;
        margin-bottom: 4rem;
        max-width: 850px;
        font-family: $font-roboto;


        form {
            display: flex;
            flex-direction: column;



            #bouton-contact {
                width: 28%;
                text-align: right;
            }

            .bouton-right {
                text-align: right;

                .bouton {
                    color: white;
                    border: none;
                    border-radius: 15px;
                    cursor: pointer;
                    font-size: 14px;
                }
            }
        }


        .contact-group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding-bottom: 1rem;
        }

        .carre1 {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            text-align: justify;
            font-family: $font-roboto;
        }

        .carre2 {
            display: flex;
            flex-direction: row;
            gap: 3rem;
            text-align: justify;
            font-family: $font-roboto;
        }



        input,
        textarea {
            width: 100%;
            padding: 10px;
            padding-left: 0;
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            border-right: none;
            border-left: none;
            border-top: none;

            /* Firefox */
            -moz-appearance: textfield;

            /* Chrome */
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Opéra*/
            &::-o-inner-spin-button {
                -o-appearance: none;
                margin: 0;
            }
        }

        #message {
            color: black;
            height: 40px;
            margin-right: 30px;
            border-top: none;
            border-right: none;
            border-left: none;
            border-width: 1px;
        }
    }
}

@media screen and (max-width: 360px) {
    .main-contact {
        text-align: center;

        .title-contact {
            font-size: 30px;
            justify-content: flex-start;
            text-align: left;
            padding-left: 1rem;
        }




        .contact-form {
            margin: 15px;
            flex-direction: column;

            input[type="email"] {
                width: 125%;
            }

            input[type="number"] {
                width: 125%;
            }

            .carre2 {
                display: flex;
                flex-direction: column;
                gap: 0rem;
                align-items: start;


            }

            .form-message {
                text-align: left;
            }

            .form-button {
                width: 100%;
            }

        }

    }


}

@media screen and (max-width: 960px) {

    .side-image-left-top,
    .side-image-left-bot,
    .side-image-right,
    .circle-img1,
    .circle-img2,
    .circle-img3 {
        display: none;
    }

}