.home-img {
    z-index: 1;
    height: 700px;
    position: absolute;
    top: -4%;
    right: -5%;
}

.hero-left-home {
    width: 50%;
    padding-top: 200px;
    padding-bottom: 300px;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;

    .hero-text-home {
        margin-right: 570px;

        h1 {
            display: inline;
            align-items: start;
            text-align: start;
            font-size: 30px;
        }

        p {
            text-align: justify;
        }
    }

    .hero-button-home {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}