.home-img {
    z-index: 1;
    height: 900px;
    position: absolute;
    top: -6.3%;
    right: -5%;
}

.hero-left-home {
    width: 50%;
    padding-top: 200px;
    padding-bottom: 165px;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;

    .hero-text-home {
        margin-right: 30px;

        h1 {
            display: inline;
            align-items: start;
            text-align: start;
            font-size: 50px;
            font-weight: 500;
        }

        p {
            margin-right: 260px;
            font-size: 25px;
            line-height: 3rem;
            font-family: $font-roboto;
            font-weight: 400;
            color: $black;
        }
    }

    .hero-button-home {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

}