$title-padding-left: 13rem;
$card-padding: 10rem 2rem;
$card-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$card-margin: 2rem;
$image-size: 110px; // Réajuste la taille selon les besoins

.title-instructions {
    padding-left: $title-padding-left;
    padding-top: 3rem;
    padding-bottom: 2rem;

    h1 {
        text-align: start;
        font-size: 50px;
        font-weight: 550;
        line-height: 1rem;
    }
}

.cards-instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0 100px 100px;
    gap: $card-margin;

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: $card-padding;
        border-radius: 15px;
        box-shadow: $card-shadow;
        background-color: $white;

        .img-instruction {
            width: $image-size;
            height: auto;
            margin-bottom: 2rem;
        }

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 24px;
            margin-bottom: 1rem;
            color: $black;
        }

        p {
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: $black;
            line-height: 1.5;
        }
    }
}