footer {
    background-color: $white;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: auto;

    .footer-container {
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        z-index: 999;
    }

    .footer-line {
        height: 1.6px;
        background: linear-gradient(to right, $lightergreen, $greendark);
        margin: 0 auto;
        width: 98%;
        z-index: 999;
    }
}

.ul-nav-footer {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 2rem 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: large;


    a {
        text-decoration: none;
        color: $greendark;
        font-size: large;


        &:hover {
            text-decoration: underline;
        }
    }
}