header {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $white;

    img {
        width: 80%;
    }

    .link-img-home {
        width: 10%;
        padding-left: 5rem;
        display: flex;
        align-items: center;
    }

    nav {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: large;

        .ul-nav-header {
            display: flex;
            gap: 2rem;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    color: $greendark;
                    font-size: large;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}